---
const { title, description, alias } = Astro.props;
// Supports weights 400-900
import '@fontsource-variable/playfair-display';
import imgBody from '#/city.png';
import favicon from '#/favicon.gif';
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="index, follow" />
    <meta name="theme-color" content="#a6d8ff" />
    <link rel="icon" type="image/svg+xml" href={favicon.src} />
    <meta name="generator" content={Astro.generator} />

    <!-- OPEN GRAPH -->
    <meta property="op:title" content={title} />
    <meta property="op:description" content={description} />
    <meta property="op:image" content=`Portfolio${alias}.png` />
    <meta property="op:image:alt" content=`Fotografía del Portfolio de ${alias}` />

    <!-- SEO 
    <link rel="alternate" href="url alternativa de idioma" hreflang="en-GB">
    <link rel="canonical" href="pagina original">
    -->

    <title>{title}</title>
  </head>
  <body class="scene">
    <div class="print sun"></div>
    <slot />
    <div
      class="print bg"
      style={{
        background: `url(${imgBody.src})`,
      }}
    >
    </div>
  </body>
</html>

<script>
  let sun = document.querySelector('.sun');
  let body = document.querySelector('body');
  let ninja = document.querySelector('ninja-keys');

  sun.addEventListener('click', () => {
    body.classList.toggle('dark');
    ninja.classList.toggle('dark');
  });
</script>

<style is:global>
  :root {
    /* Paleta de Colores */
    --color-write: #ffffff;
    --color-write-nice: #fafafa;
    --color-write-black: #eee;
    --color-write-black2: #bbb;

    --color-black: #000;
    --color-black2: rgb(27, 32, 41);
    --color-black-nice: #1b1d1e;

    --color-black-write: #444;
    --color-black-write2: #666;
    --color-blue: #18193f;
    --color-blue2: #a6d8ff;
    --color-verde: #5bfa5b;

    /* Variables de colores */
    --body-color: var(--color-blue2);
    --main-color: var(--color-write-nice);
    --background-color: var(--color-write-black);
    --background: var(--color-verde);
    --text-color: var(--color-black);
    --text2-color: var(--color-black-write);
    --text3-color: var(--color-black-write2);
    --hover-border: var(--color-black);
    --border: var(--color-write-black2);
    --gradient-colorA: var(--color-verde);
    --gradient-colorB: var(--color-blue);
  }
  body:is(.dark) {
    --body-color: var(--color-black2);
    --main-color: var(--color-black-nice);
    --background-color: var(--color-black);
    --background: var(--color-verde);
    --background: linear-gradient(var(--gradient-colorA), var(--gradient-colorB));
    --text-color: var(--color-write);
    --text2-color: var(--color-write-black);
    --text3-color: var(--color-write-black2);
    --hover-border: var(--color-write);
    --border: var(--color-write-black2);
    --gradient-colorA: var(--color-verde);
    --gradient-colorB: var(--color-blue);
  }

  @keyframes DAQM3D {
    from {
      transform: translateX(10px);
    }
    to {
      transform: translateX(-10px);
    }
  }
  @keyframes social {
    from {
      transform: rotate(25deg);
    }
    50% {
      transform: rotate(-25deg);
    }
    to {
      transform: rotate(0);
    }
  }
  @keyframes contarLetras {
    from {
      color: var(--text-color);
    }
    to {
      background: linear-gradient(var(--gradient-colorA), var(--gradient-colorB));
      color: transparent;
      -webkit-background-clip: text;
    }
  }
  @keyframes animateBg {
    0% {
      background-position-x: 0px;
    }
    100% {
      background-position-x: 1344px;
    }
  }

  html {
    scrollbar-color: #5bfa5b #18193f;
    font-family: 'Courier New';
    letter-spacing: -0.025rem;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
  }
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--text-color);
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: 'Playfair Display Variable', serif;
    text-wrap: balance;
  }
  time,
  p,
  li {
    font-size: 0.8rem;
    line-height: 1.5;
    text-wrap: pretty;
  }

  /* Animación Dia Noche */
  .scene {
    height: 100%;
    background: var(--body-color);
    display: flex;
    justify-content: center;
    .sun {
      /* z-index: 1; */
      position: fixed;
      top: 10%;
      left: 10%;
      width: 100px;
      height: 100px;
      background: #fff;
      border-radius: 50%;
      box-shadow: 0 0 50px #fff;
      cursor: pointer;
      transition: left 1s;
    }
    .bg {
      position: fixed;
      bottom: 0;
      width: 100vw;
      height: 445px;
      /* background: url(./city.png); */
      background-size: 1344px;
      background-repeat: repeat-x;
      animation: animateBg 30s linear infinite;
    }
  }

  .dark {
    background: var(--body-color);
    fill: currentColor;
    height: 100%;
    .sun {
      left: 85%;
      box-shadow: 0 0 0 #fff;
    }
    .sun::before {
      content: '';
      position: absolute;
      top: -20px;
      left: 20px;
      width: 100px;
      height: 100px;
      background: var(--body-color);
      border-radius: 50%;
    }
  }
  @media (width <= 1100px) {
    .scene {
      .sun {
        left: 1vw;
      }
    }
    .dark {
      .sun {
        left: 90vw;
      }
    }
  }
  @media (width <= 890px) {
    .scene {
      .sun {
        left: -5vw;
      }
    }
    .dark {
      .sun {
        left: 95vw;
      }
    }
  }
  @media (width <= 890px) {
    .scene {
      .sun {
        left: -8vw;
      }
    }
    .dark {
      .sun {
        left: 90vw;
      }
    }
  }

  @media print {
    .dark {
      fill: var(--color-black);
    }
    .notPrint {
      display: none;
    }
  }
</style>
