---
import Section from "@/components/Section.astro";
import { skills, languages } from "@/jsons/cv-AP.json"

const filter=[]
const uniqueKeywords = new Set(skills.map((key) => key.keywords[0]))
uniqueKeywords.forEach((tap)  => {
  filter.push({
    ["key"]:tap,
    ["tap"] : skills.filter( (key) => key.keywords.includes(tap))
  })
   
})
console.log(filter);
console.log(uniqueKeywords);
/*
const uniqueKeywords = new Set(skills.map((key) => key.keywords[0]))
const ver = uniqueKeywords.forEach( (tag) => {
  const filter = {
    [tag] : skills.filter( (key) => key.keywords.includes(tag))
  }
  return filter;
})
console.log(ver);*/
---
<Section id="Conocimientos" title="Conocimientos">
  {
    filter.map((data) =>(
      <ul>
        <h3>- {data.key}:</h3>
        {
          data.tap.map(({name}) =>(
            <li>
              <span>{name}</span>
            </li>
          ))
        }
      </ul>
    ))
  }
  <ul>
    <h3>- Idiomas:</h3>
    {
      languages.map(({language, fluency}) =>[
      <li>
        <span>{language} {fluency}</span>
      </li>
      ])
    }
  </ul>
</Section>

<style>
  ul{
    display: inline-flex;
    flex-wrap: wrap;
    gap: .5rem;
    h3{    
      font-size: 1rem;
      opacity: 40%;
      font-weight: 500;
    }
    li{
      border-radius: .5rem;
      background: #eee;
      padding: .2rem .6rem;
    }
  }
</style>