---
import Section from '@/components/Section.astro';
import { work } from '@/jsons/cv-AP.json';
---

<Section id="Experiencia" title="Experiencia Profesional">
  {
    work.map(
      ({
        name,
        startDate,
        endDate,
        address,
        position,
        summary,
      }) => {
        return (
          <article>
            <header>
              <time datetime={startDate}>
                De {startDate}
              </time>
              <time datetime={endDate ?? 'actualmente'}>
                {' '}
                {endDate ? `Al ${endDate}` : 'Actualmente'}
              </time>
              <p>{address}</p>
            </header>
            <footer>
              <h3>{name}</h3>
              <h4>Cargo: {position}</h4>
              <ul>
                {summary.map((dato) => {
                  return <li>- {dato}</li>;
                })}
              </ul>
            </footer>
          </article>
        );
      }
    )
  }
</Section>
<style>
  article {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 1rem;
    header {
      display: flex;
      flex-direction: column;
    }
    h3 {
      font-size: 1rem;
    }
    h4,
    time,
    p {
      font-size: 0.8rem;
      font-weight: 500;
      color: var(--text3-color);
    }
    li {
      color: var(--text2-color);
      letter-spacing: -0.05rem;
    }
  }
  @media (width < 620px) {
    article {
      grid-template-columns: 1fr;
      header:nth-child(1) {
        grid-row: 2;
      }

      header {
        flex-direction: row;
        gap: 1rem;
      }
    }
  }
  @media print {
    article {
      h4,
      time,
      p {
        opacity: 60%;
      }
    }
  }
</style>
