---
import Section from '@/components/Section.astro';
import { projects } from '@/jsons/cv-AP.json';
import GitHub from '@/icons/GitHub.astro';
import WorldMap from '@/icons/WorldMap.astro';
---

<Section id="Proyectos" title="Proyectos">
  <div hidden popover id="my-popover">Greetings, one and all!</div>
  <ul>
    {
      projects.map(({ name, isActive, description, highlights, url, repo }) => {
        return (
          <li>
            <article class="proyectos">
              <header>
                <h3>
                  <a
                    class={isActive && 'hover'}
                    href={isActive && url}
                    title={`Ver el proyecto ${name}`}
                    target="_blank"
                  >
                    {name}
                  </a>
                  {isActive && <span>&bull;</span>}
                  <button hidden popovertarget="my-popover">
                    <WorldMap width="20" height="20" />
                  </button>

                  {repo && (
                    <a
                      class="notPrint"
                      href={`${url}`}
                      title={`Visita el repo del proyecto ${name}`}
                      target="_blank"
                    >
                      <GitHub width="20" height="20" />
                    </a>
                  )}
                </h3>
                <p>{description}</p>
                {isActive && (
                  <span class="print">
                    <WorldMap />
                    {url}
                  </span>
                )}
                {repo && (
                  <span class="print">
                    <GitHub />
                    {repo}
                  </span>
                )}
              </header>
              <footer>
                {highlights.map((highlight) => {
                  return <span>{highlight}</span>;
                })}
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</Section>

<script>
  function startDrag(event) {
    const card = event.target.closest('article');

    let starX = (event.pageX ?? event.touches[0].pageX) - card.offsetLeft;
    let starY = (event.pageY ?? event.touches[0].pageY) - card.offsetTop;
    card.style.setProperty('--x', starX + 'px');
    card.style.setProperty('--y', starY + 'px');
    console.log(card);
    //! como hacaer ::before al article
    card.style.opacity = 1;
  }
  let ver = document.querySelectorAll('article');
  ver.forEach((ve) => {
    if (ve.className == 'proyectos') {
      ve.addEventListener('mousemove', startDrag);
      ve.addEventListener('touchmove', startDrag, {
        passive: true,
      });
    }
  });
</script>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 1rem;
  }

  article {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--border);
    border-radius: 1rem;
    height: 100%;
    padding: 16px;
    gap: 1rem;

    /* ver code */
    position: relative;
    overflow: hidden;
    transition: 0.5s;
    &::before {
      content: '';
      position: absolute;

      top: var(--y);
      left: var(--x);
      transform: translate(-50%, -50%);
      background: radial-gradient(#5bfa5b, transparent, transparent),
        radial-gradient(#18193f, transparent, transparent);
      width: 100%;
      height: 100%;
      opacity: 0;
      transition:
        0.5s,
        top 0s,
        left 0s;
    }
    &:hover::before {
      opacity: 1;
    }

    &::after {
      content: '';
      position: absolute;
      inset: 3px;
      background: var(--main-color);

      border-radius: 1rem;
    }
    /* --- */
    header {
      z-index: 1;
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      h3 {
        display: flex;
        gap: 0.5rem;
        a {
          letter-spacing: 0.1rem;
          transition: 0.5s;
          border-bottom: 2px solid transparent;
        }
        span {
          color: #5bfa5b;
        }
        a:has(svg) {
          padding: 1px;
          display: inline-flex;
          border: 1.5px solid var(--border);
          border-radius: 0.5rem;
          transition:
            background 0.3s ease-in-out,
            border 0.5s ease-in-out;

          margin-inline-start: auto;
        }
        a:has(svg):hover {
          background: var(--background);
          border: 1.5px solid var(--hover-border);
          svg {
            animation: 1s linear social;
          }
        }
      }
      a.hover:hover {
        border-bottom: 2px dashed var(--hover-border);
      }
    }
    footer {
      z-index: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      font-size: 0.6rem;
      span {
        border-radius: 0.5rem;
        background: var(--background-color);
        padding: 0.2rem 0.6rem;
      }
    }
  }
  @media print {
    ul {
      li {
        break-inside: avoid;
        @-moz-document url-prefix() {
          break-inside: auto;
        }
      }
    }
    footer span {
      border: 2px solid #eee;
      padding: 0.1rem 0.3rem;
    }
    header span.print {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
</style>
